
body {
  margin: 0;
  padding: 0;
}
#app {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--mode-background-color);
  height: 100vh;
  width: 100%;
}
* { 
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}
.mode-title {
  font-weight: 600;
  color: var(--mode-font-color);
}

:root {
  --mode-background-color: #f0f2f5;
  --mode-box-color: #fff;
  --mode-menu-color: linear-gradient(195deg, #42424a, #191919);
  --mode-font-color: #000;
}

// 日间模式 start
.day {
  --mode-background-color: #f0f2f5;
  --mode-box-color: #fff;
  --mode-menu-color: linear-gradient(195deg, #42424a, #191919);
  --mode-font-color: #000;
}
// 日间模式 end

// 夜间模式 start
.dark {
  --mode-background-color: #1a2035;
  --mode-box-color: #313852;
  --mode-menu-color: linear-gradient(195deg,#323a54,#1a2035);
  --mode-font-color: #fff;
  --el-text-color-regular: #CFD3DC !important;
  --el-text-color-primary: #E5EAF3  !important;
}
// 夜间模式 end

.mode-box {
  background: var(--mode-box-color);
  color: var(--mode-font-color);
}

// 滚动条通用样式 start
// 定义滚动条高宽及背景
::-webkit-scrollbar {
	width: 4px;
	height: 10px;
	background-color: #fff;
}
// 定义滚动条轨道 内阴影及圆角
::-webkit-scrollbar-track {
	// -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: px;
	background-color: #fff;
}
// 定义滑块 内阴影及圆角
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #ccc;
}
// 滚动条通用样式 end
