:root {
  --el-color-primary: #e91e63;
  --el-color-primary-light-3: #f06292;
  --el-color-primary-light-5: #f48fb1;
  --el-color-primary-light-7: #f8bcd0;
  --el-color-primary-light-8: #fbd2e0;
  --el-color-primary-light-9: #fde9ef;
  --el-color-primary-dark-2: #ba184f;
}
$primary-color: var(--el-color-primary);