$primaryColor: #595ff8;
$secondColor: #986cFb;
$auxiliaryColor: #F7F3ff;

// 定义换肤颜色

$--color-primary-blue: #49a3f1;
$--color-primary-orange: #ffa726;
$--color-primary-green: #66bb6a;
$--color-primary-red: #ef5350;
$--light-mode: #f0f2f5;
$--light-mode-box: #ffffff;
$--dark-mode: #1a2035 ;
$--dark-mode-box: #313852;